doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title CSS3 dynamic effects

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 CSS3 dynamic effects
        h2 <a href="mailto:paullasarev@gmail.com">paullasarev@gmail.com</a>

      section
        h2.header What we are talking about?
        ul.list
          li: #[a(href='http://www.w3schools.com/css/css3_transitions.asp') transition] property
          li: #[a(href='http://www.w3schools.com/css/css3_animations.asp') animation] property
          li: #[a(href='http://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp') keyframes] property
          li: #[a(href='http://www.w3schools.com/cssref/css3_pr_transform.asp') transform] property

      section
        h2 Transition
        pre
          code.language-css.
            div {
              transition: all 0.5s ease;
              background: red;
              padding: 10px;
            }
            div:hover {
              background: green;
              padding: 20px;
            }

      section
        h2 Transition
        iframe(width="100%" height="100%" src="http://jsfiddle.net/kecedon3/2/embedded/css,result,html/presentation" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 Transition
        iframe(width="100%" height="100%" src="http://jsfiddle.net/kecedon3/3/embedded/css,result,html/presentation" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 Transition parameters
        pre
          code.language-css.
            .example {
              transition: 
                [transition-property:name[,...]|all|none] 
                [transition-duration:1s|0.5s|100ms] 
                [transition-timing-function:
                  ease|linear|cubic-bezier|
                  ease-in|ease-out|ease-in-out
                [transition-delay:-1s|1s|0.5s|100ms];
            }

      section
        h2 Transition duration and delay
        iframe(width="100%" height="100%" src="http://jsfiddle.net/tr8tm4ev/8/embedded/css,result,html/presentation" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 transition-timing-function
        iframe(width="100%" height="100%" src="http://jsfiddle.net/tsgz2n8f/9/embedded/css,result,html,js/presentation" allowfullscreen="allowfullscreen" frameborder="0")


      section
        h1 Questions?

    script(src='build/build.js')