doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title CSS3 dynamic effects

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 CSS3 dynamic effects
        h2 <a href="mailto:paullasarev@gmail.com">paullasarev@gmail.com</a>

      section
        h2.header What we are talking about?
        ul.list
          li: #[a(href='http://www.w3schools.com/css/css3_transitions.asp') transition] property
          li: #[a(href='http://www.w3schools.com/css/css3_animations.asp') animation] property
          li: #[a(href='http://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp') @keyframes] property
          li: #[a(href='http://www.w3schools.com/cssref/css3_pr_transform.asp') transform] property

      section
        h2 Transition
        pre
          code.language-css.
            div {
              transition: all 0.5s ease;
              background: red;
              padding: 10px;
            }
            div:hover {
              background: green;
              padding: 20px;
            }

      section
        h2 Transition
        iframe(width="100%" height="100%" src="http://jsfiddle.net/paullasarev/wxfL3s8k/1/embedded/result,css,html/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 Transition
        iframe(width="100%" height="100%" src="http://jsfiddle.net/paullasarev/c7L1eL47/1/embedded/result,css,html/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 Transition parameters
        pre
          code.language-css.
            .example {
              transition: 
                [transition-property:name[,...]|all|none] 
                [transition-duration:1s|0.5s|100ms] 
                [transition-timing-function:
                  ease|linear|cubic-bezier|
                  ease-in|ease-out|ease-in-out]
                [transition-delay:-1s|1s|0.5s|100ms];
            }

      section
        h2 Transition duration and delay
        iframe(width="100%" height="100%" src="http://jsfiddle.net/tr8tm4ev/13/embedded/result,css,html/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 transition-timing-function
        iframe(width="100%" height="100%" src="http://jsfiddle.net/tsgz2n8f/15/embedded/result,css,html,js/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 transition-timing-function
        iframe(width="100%" height="100%" src="http://www.roblaplaca.com/examples/bezierBuilder/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h1 Animation


      section
        h2 animation
        pre
          code.language-css.
            div {
              -webkit-animation: movie 5s infinite;
            }
            @-webkit-keyframes movie {
                0%   {top: 0; left:0}
                25%  {top: 0px; left:600px;}
                50%  {top: 200px; left:600px;}
                75%  {top: 200px; left:0px;}
                100% {top: 0; left:0}
            }

      section
        h2 animation
        iframe(width="100%" height="100%" src="http://jsfiddle.net/paullasarev/fakqmns5/3/embedded/result,css,html/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 Animation parameters
        pre
          code.language-css.
            .example {animation:
                [animation-name: bounce]
                [animation-duration: 4s|100ms]
                [animation-timing-function: ease-out;
                  ease|linear|cubic-bezier|
                  ease-in|ease-out|ease-in-out]
                [animation-delay: -2s|2s|100ms]
                [animation-iteration-count: 10|infinity]
                [animation-direction:
                  normal|reverse|alternate|alternate-reverse]
                [animation-fill-mode: none|forwards|backwards|both]
                [animation-play-state: paused|running]
            }

      section
        h2 @keyframes parameters
        pre
          code.language-css.
            @-webkit-keyframes mymove {
                0%   {top: 0px;}
                25%  {top: 200px;}
                50%  {top: 100px;}
                75%  {top: 200px;}
                100% {top: 0px;}
            }
            @-webkit-keyframes mymove {
                from {top: 0px;}
                to {top: 200px;}
            } 

      section
        h2 animation-direction
        iframe(width="100%" height="100%" src="http://jsfiddle.net/paullasarev/ur6hLLc7/13/embedded/result,css,html/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 animation-fill-mode
        iframe(width="100%" height="100%" src="http://jsfiddle.net/paullasarev/5x173ekw/11/embedded/result,css,html,js/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h2 animation-play-state
        iframe(width="100%" height="100%" src="http://jsfiddle.net/paullasarev/6n3p93a4/1/embedded/result,css,html,js/presentation/" allowfullscreen="allowfullscreen" frameborder="0")

      section
        h1 Questions?

    script(src='build/build.js')